{% extends '_base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 text-center">
      <p>
        <img
        src="{{ object.image.url }}"
        class="rounded"
        alt="..."
        style="max-height: 10rem"
      />
      </p>
    </div>
    <div class="col-sm-4 text-center">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur nisi
        ut harum nam sapiente laudantium rerum. Molestiae quam excepturi
        reiciendis cum totam a, error ab illum architecto recusandae
        reprehenderit? Adipisci, iste magni. Architecto libero deleniti itaque
        accusamus voluptatem quasi incidunt, velit sed ipsam optio doloribus
        sunt eum vitae illum quam?
      </p>
    </div>
  </div>
</div>
{% endblock content %}
