{% extends '_base.html' %} {% load static %} {% block content %}
<style>
  .banner {
    position: relative;
    background: url("/static/pexels-hristo-fidanov-1252869.jpg");
    min-height: 50vh;
    background-size: cover;
    background-position: center;
  }
  @media screen and (max-width:768px){
  h1{
     font-size:2em;
  }    
}
</style>
<section class="banner">
  <div class="container d-flex align-items-center justify-content-center">
    <div class="row">
      <div class="col"></div>
      <div class="col-6 mt-5">
        <div>
          <h1 class="text-white">
            Royalty free photos shared by talented creators.
          </h1>

          <form>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Search for photos"
              />
              <div class="input-group-append">
                <button class="btn btn-secondary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</section>
{% include 'index/photos.html' %}






{% endblock content %}
