{% extends '_base.html' %} {% load static %} {% block content %}
<style>
  .banner {
    position: relative;
    background: url("/static/pexels-hristo-fidanov-com.jpg");
    min-height: 50vh;
    background-size: cover;
    background-position: center;
  }
  @media screen and (max-width:768px){
  h1{
     font-size:2em;
  }    
}
</style>
<section class="banner">
  <div class="container d-flex align-items-center justify-content-center">
    <div class="row">
      <div class="col"></div>
      <div class="col-6 mt-5">
        <div>
          <h1 class="text-white">
            Royalty free photos shared by talented creators.
          </h1>

          <form>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Search for photos"
              />
              <div class="input-group-append">
                <button class="btn btn-secondary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</section>
<!-- {% include 'photos/photos.html' %} -->
<h4>use flex box for photo gallery</h4>
<h4>pass the context here</h4>
<div class="shadow p-3 mb-5 bg-white rounded">
  <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
    <li class="nav-item">
      <a
        class="nav-link active"
        id="home-tab"
        data-toggle="tab"
        href="#home"
        role="tab"
        aria-controls="home"
        aria-selected="true"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="profile-tab"
        data-toggle="tab"
        href="#profile"
        role="tab"
        aria-controls="profile"
        aria-selected="false"
        >Newest</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="contact-tab"
        data-toggle="tab"
        href="#contact"
        role="tab"
        aria-controls="contact"
        aria-selected="false"
        >Popular</a
      >
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="home"
      role="tabpanel"
      aria-labelledby="home-tab"
    >
    asd
      {% for photo in photos %}
      <article class="media content-section">
        <img
          class="rounded-circle article-img"
          src="{{ photo.author.profile.image.url }}"
        />
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ photo.author }}</a>
            <small class="text-muted"
              >{{ photo.date_posted|date:"F d, Y" }}</small
            >
            <img src="{{ photo.image.url }}" alt="..." class="img-thumbnail" />
          </div>
          <h2><a class="article-title" href="#">{{ photo.title }}</a></h2>
        </div>
      </article>
      {% endfor %}
    </div>

    <div
      class="tab-pane fade"
      id="profile"
      role="tabpanel"
      aria-labelledby="profile-tab"
    >
      Newest: { photos.html sorted by date [:] ewan ascending }
    </div>

    <div
      class="tab-pane fade"
      id="contact"
      role="tabpanel"
      aria-labelledby="contact-tab"
    >
      Popular: { photos.html sort by downloads }
    </div>
  </div>

</div>





{% endblock content %}
