{% extends '_base.html' %} {% load static %} {% block content %}

<div class="container">
  <div class="row mb-2">
    <div class="col-10">
      <h4>Your uploads</h4>
    </div>

    <div class="col-2 justify-left">
      <a href="{% url 'photos:create' %}" class="btn btn-success">Upload</a>


     {% include '_modal.html' %}


    </div>
  </div>
  <table data-toggle="table" data-pagination="true" data-search="false">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Date Posted</th>
        <th>Image Thumbnail</th>
        <th>Details</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <!-- dito yung value and for loop -->
      {% for photo in photos %}
      <tr>
        <td>{{ photo.id }}</td>
        <td>{{ photo.title }}</td>
        <td>{{ photo.date_posted}}</td>
        <td>
          <div class="text-center">
            <img
              src="{{ photo.image.url }}"
              class="rounded"
              style="max-height: 20px"
              alt="..."
            />
          </div>
        </td>
        <td class="text-center">
          <button type="button" class="bs-modal btn btn-info" data-form-url="{% url 'photos:test' photo.slug %}">
            <span class="fa fa-eye"></span>
          </button>
        </td>
        <td class="text-center">
          <a href="{% url 'photos:update' photo.slug %}" class="btn btn-primary"
            ><i class="fa fa-pencil" aria-hidden="true"></i
          ></a>
        </td>
        <td class="text-center">
          <a href="{% url 'photos:delete' photo.slug %}" class="btn btn-danger"
            ><i class="fa fa-trash" aria-hidden="true"></i
          ></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>



{% endblock content %}
